{% extends 'base.html' %}

{% block title %}
    Lista de AGENDA
{% endblock %}

{% block content %}

    {% for contact in contacts %}


        <div class="card" >
            <div class="list-group list-group-flush">
            <h5 class="list-group-item">{{contact.name}}</h5>
            <p class="list-group-item">Dirección: {{contact.address}}</p>
            <p class="list-group-item">Telefono: {{contact.phone_number}}</p>
            <p></p>
           
        </div>
        </div>



    {% endfor %}

{% endblock %}