{% extends 'base.html' %}

{% block title %}
    AGENDA
{% endblock %}

{% block content %}

    <h1>Hola desde el template de AGENDA</h1>
     <a href="/contacts/contact-create/" class="btn btn-primary">Crear nuevo CONTACTO</a>

    {% for contact in contacts %}


        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">{{contact.name}}</h5>
            <p class="card-text">Dirección: {{contact.address}}</p>
            <p>Telefono: {{contact.phone_number}}</p>
           
        </div>
        </div>



    {% endfor %}

{% endblock %}